@import 'config';

.btn {
  &.primary {
    padding: 11px 10px;
    color: #272727;
    border: 1px solid @yellow;
    background: @yellow;

    &:hover, &:active {
      border-color: @yellowDark;
      background: @yellowDark;
    }
  }

  &-icon {
    height: 24px;
    width: 24px;
    background-position: center center;
    background-repeat: no-repeat;
  }
}