@import 'config';

.btn {
  &.primary {
    padding: 11px 10px;
    color: #272727;
    border: 1px solid @yellow;
    background: @yellow;

    &:hover, &:active {
      border-color: @yellowDark;
      background: @yellowDark;
    }
  }
}